body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  
}

#particles-js{
  background:white;    
}  

#qrcode
{	
  position:absolute;
  left:38%;
  top:35%;
}

#info{
  position:absolute;
  left:38%;
  top:75%;
}
#phase2 {
  display: none;
}

